<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div>
        <table>
            <tr>
                <th>FullName</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>
            </tr>
            <% if(messages.length > 0) { %>
                <% messages.forEach(message => { %>
                    <tr>
                        <td><%= message.fullName %></td>
                        <td><a href="mailto:<%= message.email %>"><%= message.email %></a></td>
                        <td><%= message.subject %></td>
                        <td><%= message.message %></td>
                    </tr>
                <% }) %>
            <% } %>
        </table>
    </div>
</body>
</html>